<div class="alert alert-info fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <p><strong>To create a new conversation</strong>, go to <a href="https://pryv.me" target="_blank">your Pryv</a> and create a sharing with a <strong>contribute permission.</strong></p>
  <p>Use this token to create the conversation, and choose a password to <strong>encrypt</strong> the messages.</p>
  <p>Share those information with your friends and start chatting. OR:</p>
  <p class="btn btn-default" ng-click='newConv={host: "jordane", pass: "pryv", token: "chwl1gmlp01yzjypn993ecobz", name: "Demo"}'><strong>Add a demo account</strong></p>
</div>

<form role="form">
  <div class="form-group">
    <label for="host">Host</label>
    <input ng-model="newConv.host" type="text" class="form-control" id="host" placeholder="Enter the host name" required>
  </div>
  <div class="form-group">
    <label for="token">Token</label>
    <input ng-model="newConv.token" type="text" class="form-control" id="token" placeholder="Enter the token" required>
  </div>
  <div class="form-group">
    <label for="pass">Pass</label>
    <input ng-model="newConv.pass" type="text" class="form-control" id="pass" placeholder="Enter the passphrase to encrypt your messages" required>
  </div>
  <div class="form-group">
    <label for="pass">Name</label>
    <input ng-model="newConv.name" type="text" class="form-control" id="name" placeholder="Give a name to this conversation" required>
  </div>
  <button ng-click="addConv()" class="btn btn-default" ng-disabled="disable">Submit</button>
</form>