<div class="page-header" id="conversation-header"><h2>{{ conv.name }}</h2></div>
<div id="conversation">
  <li ng-repeat='mess in messages track by $index'>
    <div class="message-content" marked="mess.message">{{ mess.message }}</div>
    <div class="message-time" am-time-ago="mess.time" am-preprocess="unix"></div>
  </li>
</div>
<div id="new-message">
  <form ng-submit="addMessage()">
    <div class="form-group">
      <input ng-model="newMess" type="text" class="form-control" placeholder="Enter your message" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>